section
    p My page
    button(
        data-hz-resource="HzAnim"
        data-opt-hz-anim-on="click"
        data-opt-hz-anim-do="transition.fadeIn"
        data-opt-hz-anim-to=".text"
    ) Click me
    p.text Some text
    button(
           data-hz-resource="HzTooltip"
           title="Tooltip content!"
           data-opt-tooltipster-trigger="click"
    ) Hover me!